# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tailwind build output
/public/css/*.map

# OS junk
.DS_Store
Thumbs.db
run
# Editor
.vscode/
.idea/

# Env
.env
.env.*

# Cache
.cache/
.tmp/
